<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">gif-Search</h3>
  <!-- <hr class="text-white" /> -->

  <hr class="text-light" />
  <div>
    <p class="text-light" style="text-align: center">Historial</p>
  </div>

  <div class="list-group list-reset">
    <a
      (click)="ReSearch(textBuscado)"
      href="#"
      class="
        list-group-item list-group-item-action
        m-1
        animate__animated animate__fadeIn animate__slow
      "
      *ngFor="let textBuscado of historical"
      >{{ textBuscado | titlecase }}</a
    >
  </div>
</div>
